{% extends "base.html" %}

{% block content %}
<div class="row">

<div class="col-sm-8">
<h2>{{ object.product.title }}</h2>
<h2>{{ object.title }}</h2>

{% if object.product.productimage_set.count > 0 %}
	<div>
		{% for img in object.product.productimage_set.all %}
		  <img src="{{ img.image.url }}" class="img-responsive" />
		{% endfor %}
	</div>
{% endif %}

<p class="lead">{{object.description}}</p>
<hr>
<h3>Inventory</h3>
<form action="" method="POST">
{% csrf_token %}
<div class="form-group">
	<label for="">Price</label>
	{{ form.price}}	
</div>
<div class="form-group">
	<label for="">Sale Price</label>
	{{ form.sale_price}}	
</div>
<div class="form-group">
	<label for="">Amount</label>
	{{ form.inventory}}	
</div>
</form>
</div>
</div>
{% endblock %}